*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #00203fff;
    color: white;
}
/* header section */
.header{
    background-color: #00203fff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 100;
    position: fixed;
}
.menu-toggle{
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.logo{
    font-size: 1.7rem;
    font-weight: 900;
    color: #adefd1ff;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.logo1{
    color: white;
}
.navbar a{
    color: white;
    padding: 3px;
    margin: 40px;
    font-weight: 500;
    text-shadow: 0 0 10px,0 0 30px;
}
.navbar a:hover,.navbar a.active{
    color: #adefd1ff;
    border-bottom: 3px solid #adefd1ff;
    border-radius: 10%;
}
/* main page */
.home{
    width: 100%;
    align-items: center;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 70px 10px;
    margin: 0;
}
.home-content{
    line-height: 1.3;
    font-size: 30px;
    text-shadow: 0 0 2px;
    padding: 10px;
    margin-top: 0px;
    margin-left: 30px;
    width: 700px;
    animation: slideLeft 1.5s ease-in-out backwards;
}
@keyframes slideLeft {
    0%{
        opacity: 0;
        transform: translateX(150px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.home-content h5{
    display: inline-block; 
    /* margin-inline: auto; */
    overflow: hidden;
    color: #adefd1ff;
    text-shadow: 0 0 5px,0 0 0px;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 3s steps(22) forwards,blink 1s step-end infinite;
}
@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 30ch;
    }
}
@keyframes blink {
    50%{
        border-color: transparent;
    }

}
.home p{
    font-size: 20px;
}
.home-image{
    animation: slideRight 1.5s ease-in-out forwards;
    display: flex;
}
.home-image img{
    position: relative;
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 80px;
    box-shadow: 0 0 25px #adefd1ff;
    height: 90%;
}
.home-image img:hover{
    box-shadow: 0 0 25px #adefd1ff;
    transform: scale(1.1);
    
}

@keyframes slideRight {
    0%{
        opacity: 0;
        transform: translateX(-150px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.btn-box{
    display: flex;
}
.btn1{
    padding: 10px 20px;
    margin: 20px 0;
    color: rgb(19, 18, 18);
    background-color: #adefd1ff;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s ease;
    text-shadow: 0 0 3px;
    box-shadow: none;
    border-color: transparent;
    cursor: pointer;
}
.btn1:hover{
    box-shadow: 0 0 25px #adefd1ff;
    color: rgb(51, 44, 44);
}
.popup-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    background: rgba(0,0,0,0.6);
}
.popup{
    text-align: center;
    width: 350px;
    height: 250px;
    justify-items: center;
    align-content: center;
    line-height: 2rem;
    background-color: #FFF; 
    color: #000;
    border-radius: 10px;
}
.popup h1{
    padding: 20px 0;
}
.ui-icon{
    display: flex;
    align-items: center;
}
.ui-icon li{
    margin-left: 10px;
}
.ui-icon a{
    display: inline-flex;
    padding: 8px;
    margin: 10px;
    border: 2px solid #adefd1ff;
    border-radius: 50%;
    font-size: 20PX;
    color: #adefd1ff;
    transition: 0.3s;
}
.ui-icon a:hover{
    background-color: #adefd1ff;
    color: black;
    box-shadow: 0 0 10px #adefd1ff;
}

.about{
    background-color: rgb(231, 231, 231);
    color: #00203fff;
    align-items: center;
    padding: 0;
}
.about-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about h2{
    font-size: 50px;
    text-align: center;
    padding: 3rem 20px 20px 20px;
    font-weight: 900;
}
.about-text a{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #adefd1ff;
    padding: 5px;
    background-color: #00203fff;
    width: 200px;
    border-radius: 10px;
}
.about-text h1{
    align-items: center;
}
.about-text i{
    color: #adefd1ff;
    font-size: 40px;
}
.about-text{
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    padding: 40px;
    animation: AutoShow;
    animation-timeline: view();
}
@keyframes AutoShow {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    50%{
        opacity: 1;
        transform: translateY(0);
    }
    70%{
        opacity: 2;
        transform: translateY(0);
    }
}
.about-text h4{
    text-align: center;
    font-size: 25px;
}
.about-text p{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    align-items: end;
}
.about-image{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: AutoShow;
    animation-timeline: view();
}

#projects{
padding: 3rem 3rem;
}
.projects h1{
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
}

.containers-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.boxs{
    background: rgb(231, 231, 231);
    animation: SlideRight both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
    color: #00203fff;
    line-height: 1.5rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px #adefd1ff;
    transition: var(--transition);
}
@keyframes SlideRight {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.boxs:hover{
        transform: translateY(-5px);
}
.boxs img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.boxs h3 {
    padding: 1.5rem 1.5rem 0.5rem;
}

.boxs p {
    padding: 0 1.5rem 1.5rem;
    color: var(--light-text);
}

.boxs a{
    padding: 0 2rem;
    
}


.contact{
    align-items: center;
    padding: 6rem 0;
    margin: 0px;
    background-color: rgb(231, 231, 231);
}
.contact h1{
    text-align: center;
    font-size: 50px;
    align-items: center;
    color: #00203fff;
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 2rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.contact form .input-box input,.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.2rem;
    color: #000;
    background-color: rgb(231, 231, 231);
    border-radius: 1rem;
    border: 2px solid #00203fff;
    margin: 1rem 0;
    resize: none;
}
.contact form .btn-1{
    padding: 10px 20px;
    margin: 20px 0;
    color: rgb(231, 231, 231);
    background-color: #00203fff;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s ease;
    text-shadow: 0 0 3px;
    box-shadow: none;
    cursor: pointer;
}
.contact form .btn-1:hover{
    text-shadow: 0 4px 7px #adefd1ff;
    border-radius: 3px solid rgb(231, 231, 231);

}

footer{
    text-align: center;
    padding: 2rem 0;
    background-color: #00203fff;
    color: rgb(231, 231, 231);
}

@media (max-width: 768px){
html,body{
    font-family: 'Forum';
    width: 100%;
    height: 100%;
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden;
}

.menu-toggle{
    display: block;
}
.header{
    height: 50px;
    background-color: transparent;
}
.navbar{
    display: none;
    background-color: #00203fff;
    position: absolute;
    top: 50px;
    left: 0;
    height: 360px;
    width: 100%;
    z-index: 999;
    gap: 25px;
    flex-direction: column;
    font-size: 35px;
    align-items: center;
}
.logo{
    display: none;
}
.navbar.active{
    display: flex;
}
.navbar a.active{
    border-bottom: none ;
}
.navbar a{
    margin: 10px 0;
    width: 30%;
    text-align: center;
}
.navbar {
    float: none;
    text-align: center;
}
/* home page */
.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;

}
.home-image{
    justify-content: center;
    width: 100%;
    height: 450px;
}
.home-image img{
    padding: 0;
    margin: 0;
    height: 90%;
}
.home-content{
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}
.btn-box{
    justify-content: center;
}
/* about section */
.about{
    width: 100%;
    padding: 0;
}
.about-content{
    display: flex;
    flex-direction: column;
}
.about-text{
    width: 100%;
    margin: 2rem 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}
.about-text p{
    margin: 10px 0;
    font-size: 20px;
    padding: 0;
    text-align: center;
}
.about-text p br{
    display: none;
}

.projects{
    display: flex;
    flex-direction: column;

}
.containers-item{
    display: flex;
    flex-direction: column;
}

/* contact */
.form{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 0;
}
.contact{
    padding: 2rem 0 0 0 ;
}
.final{
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}
footer{
    padding: 0;
    height: 50px;
    text-align: center;
    align-content: center;
}
}

